div{
  color: black;
}

.container-best-sellers{
  margin: 3rem 0;
}
h2{
  text-align: center;
  font-family:  Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
}
.products-best-sellers{
  background-color: antiquewhite;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.product{
  background-color: aliceblue;
  width: 200px;
  height: 300px;
  padding: 1rem;
  margin: 0 .7rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.img-product{
  width: 100%;
}